.features {
    padding: 100px 0 150px 0;
    
    @include phone {
        padding: 70px 0;
    }
}

.features__title {
    @include title(#262626);
    margin-bottom: 50px;
}

.features__title_pink {
    @include title($pink);
}

.features__descr {
    @include decsr(#505050);

    text-align: center;
    margin-bottom: 50px;
}

.features__descr-pink {
    @include decsr($pink);

}

.features__block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    @include netbook {
        flex-direction: column;
        align-items: center;
    }
}


.features__list {
    padding-top: 150px;

    @include netbook {
        padding-top: 0;
    }
}

.features__item {
    min-width: 370px;

    border: 1px solid #e2e2e2;

    padding: 15px;

    text-transform: uppercase;
    font-family: 'raleway', arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;

    margin-bottom: 23px;

    position: relative;

    &:before {
        content: '';


        background-image: url(../img/sprite/sprite.png);
        background-repeat: no-repeat;

        width: 37px;
        height: 33px;
        background-position: -722px -5px;

        position: absolute;
        top: 50%;

        transform: translateY(-50%)
    }

    &:after {
        content: '';


        background-image: url(../img/sprite/sprite.png);
        background-repeat: no-repeat;

        width: 13px;
        height: 10px;
        background-position: -5px -5px;


        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    @include phone {
        min-width: 300px;
        font-size: 18px;
        padding: 15px 10px;
    }
}

.features__item_active {
    color: #fff;
    background-color: $pink;

    &:before {
        width: 37px;
        height: 32px;
        background-position: -769px -5px;
    }

    &:after {
        width: 13px;
        height: 10px;
        background-position: -28px -5px;
    }
}

.features__col {
    &:first-child {
        .features__item {
            padding-right: 75px;

            text-align: right;
            
            @include phone {
                padding-right: 55px;
            }

            &:before {
                right: 20px;
                @include phone {
                    right: 10px;
                }
            }

            &:after {
                right: 30px;
                 @include phone {
                    right: 20px;
                }
            }
        }
    }
}

.features__col {
    &:last-child {
        .features__item {
            padding-left: 75px;

            text-align: left;
            
            @include phone {
                padding-left: 50px;
            }

            &:before {
                left: 20px;
                
                @include phone {
                    left: 10px;
                }
            }

            &:after {
                left: 33px;
                
                @include phone {
                    left: 23px;
                }
            }
        }

        @include netbook {
            padding-top: 130px;
        }
        
        @include phone {
            padding-top: 30px;
        }
    }
}

.features__wrap-tel {

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    overflow: visible;
    align-items: center;

    position: relative;

    @include phone {
        width: 300px;

    }

    &:before {
        content: '';
        width: 480px;
        min-height: 413px;

        background-image: url(../img/icons/feauters-figure.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 50%;
        top: 36%;
        transform: translateX(-50%);
        z-index: 0;


        @include phone {
          display: none;    

        }

    }

    &:after {
        content: '';
        width: 480px;
        height: 206px;

        background-image: url(../img/icons/feauters-figure-demi.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 51%;
        bottom: -12%;
        transform: translateX(-50%);
        z-index: 2;

        @include phone {
          display: none;

        }
    }



}

.features__img-tel {
    position: relative;
    z-index: 2;

    @include phone {
        width: 100%;
        margin-bottom: 30px;

    }

}

.features__btn {

    width: 170px;
    padding: 15px 38px;
    background-color: #393939;

    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: raleway, arial, sans-serif;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;

    position: relative;
    z-index: 3;
    transition: .7s;

    &:hover {
        color: #393939;
        background-color: #fff;
        
        @include phone {
            background-color: $pink;
        }
    }
}
