include ./common/_mixins
block variables

doctype html
html(lang="Ru ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title
        link(rel='stylesheet' href='css/main.css')
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        
        
    body
        .wrapper
            include ./common/header.pug
            include ./common/promo.pug
            include ./common/about.pug
            
            include ./common/portfolio.pug
            include ./common/features.pug
            include ./common/clints.pug
            include ./common/teamwork.pug
            include ./common/skills.pug
            include ./common/services.pug
            include ./common/plans.pug
            include ./common/blog.pug
            include ./common/contacts.pug
            include ./common/footer.pug
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnmzO_QZ24TTTCGhY-DWz-ZBh8HBe4YA4&callback=initMap")
            
            script(src='js/scripts.js')

