script(type="text/x-template")#about__content-listid
    ul.about__content-list
        li.about__content-item(v-for="itemComp in itemContent" ref='item-block')
            vueComp(
            :itemComp='itemComp'
            )

                
script(type="text/x-template")#about__content-component
    .about__content-component(ref='item-active')
        .about__content-row
            button.about__content-btn(v-on:click='openItem')
            h3.about__content-titlerow {{itemComp.contentTitle}}
        .about__content-textrow {{itemComp.contentText}}  