script(type="text/x-template")#about__content-listid
    ul.about__content-list
        li.about__content-item(v-for="itemComp in itemContent" ref='item-block')
            vueComp(
            :itemComp='itemComp'
            )
//            .about__content-component
//                .about__content-row
//                    button.about__content-btn
//                    h3.about__content-titlerow Hwo is creativia 
//                .about__content-textrow  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
//        li.about__content-item
//            .about__content-component
//                .about__content-row
//                    button.about__content-btn
//                    h3.about__content-titlerow Experiences
//                .about__content-textrow             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
//        li.about__content-item
//            .about__content-component
//                .about__content-row
//                    button.about__content-btn
//                    h3.about__content-titlerow Learn more
//                .about__content-textrow             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum os.
                
script(type="text/x-template")#about__content-component
    .about__content-component(ref='item-active')
        .about__content-row
            button.about__content-btn(v-on:click='openItem')
            h3.about__content-titlerow {{itemComp.contentTitle}}
        .about__content-textrow {{itemComp.contentText}}  