section.about#aboutus
    .container
        h2.about__title about 
            span.about__title-pink creativia
            
        p.about__desr 
            | Lorem ipsum dolor sit amet, consectetur  
            span.about__desr-pink adipiscing elit. 
            | Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            
        .about__content
            .about__content-left
                p.about__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae, 
                
                ul.about__content-list
                    li.about__content-item.about__content-item_active
                        .about__content-row
                            button.about__content-btn
                            
                            h3.about__content-titlerow Hwo is creativia
                        .about__content-textrow             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
                    li.about__content-item
                        .about__content-row
                            button.about__content-btn
                            h3.about__content-titlerow Experiences
                        .about__content-textrow             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
                    li.about__content-item
                        .about__content-row
                            button.about__content-btn
                            h3.about__content-titlerow Learn more
                        .about__content-textrow             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
            .about__content-right
                ul.about__img-list
                    li.about__img-item
                        +image('about/about-3.jpg', 'about image',  'about__img')
                    li.about__img-item.about__img-item_active
                        
                        +image('about/about-1.jpg', 'about image',  'about__img')
                    li.about__img-item
                        +image('about/about-2.jpg', 'about image',  'about__img')
                        
        .about__line
            +icon('figure', 'about__line-icon' )
            
        ul.about__list
            li.about__item
                .about__list-icon
                
                    
                h3.about__list-title FLAT DESIGN
                p.about__list-text Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus eget mauris fusce sit amet  
            li.about__item
                .about__list-icon
               
                h3.about__list-title RETINA READY
                p.about__list-text Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus eget mauris fusce sit amet 
            li.about__item
                .about__list-icon
                
                h3.about__list-title RESPONSIVE
                p.about__list-text Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus eget mauris fusce sit amet  
            li.about__item
                .about__list-icon
               
                h3.about__list-title Clean & useful
                p.about__list-text Lorem ipsum dolor sit amet cras vitae sodales ac nec prellentesque vivamus eget mauris fusce sit amet 
                        