section.contacts#contact
    .container
        h2.contacts__title Fine us 
            span.contacts__title-pink here
        p.contacts__decsr
            | Lorem ipsum dolor sit amet, consectetur 
            span.contacts__descr-pink adipiscing elit.
            |  Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            
    .contacts__wrap
        .contacts__map#map
        .contacts__info
            .contacts__info-row egypt, creativia
            .contacts__info-row Address: cairo 123
            a.contacts__info-row(href="tel:88002000600") Phone: +0201091915171
            a.contacts__info-row(href="mailto:gfx3mr@gmail.com") Email: gfx3mr@gmail.com
        form.contacts__form
            h3.contacts__form-title send message
            input.contacts__input(type='text' placeholder="Name")
            input.contacts__input(type='text' placeholder="Email")
            input.contacts__input(type='text' placeholder="subject")
            textarea.contacts__input.contacts__input--ta
            button.contacts__btn(type="submit") submit
                