section.features
    .container
        h2.features__title our 
            span.features__title_pink product features
            
        p.features__descr
            | Lorem ipsum dolor sit amet, consectetur 
            span.features__descr-pink adipiscing elit.
            |  Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
        
        .features__block
            .features__col
                ul.features__list
                    li.features__item.features__item_active Unlimited Color Options
                    li.features__item Outstanding Support
                    li.features__item Retina Ready
            .features__col
                .features__wrap-tel
                    +image('feauters/mockup.png', 'phone', 'features__img-tel')
                    button.features__btn Free PSD
            .features__col
                ul.features__list
                    li.features__item Unlimited Color Options
                    li.features__item Outstanding Support
                    li.features__item Retina Ready
                