header.header
    .header__container
        .logo
           +image('header/logo.png', 'logotype', 'logo__img')
        nav.nav
            button.nav__btn
                span.nav__btn-line
            ul.nav__list
           
                li.nav__item
                    a.nav__link(href="#home") Home
                li.nav__item
                    a.nav__link(href="#aboutus") about us
                li.nav__item
                    a.nav__link(href="#portfolio") portfolio
                li.nav__item
                    a.nav__link(href="#clients") clients
                li.nav__item
                    a.nav__link(href="#team") team
                li.nav__item
                    a.nav__link(href="#services") services
                li.nav__item
                    a.nav__link(href="#blog") blog
                li.nav__item
                    a.nav__link(href="#contact") contact

                    
