section.plans
    .container
        h2.plans__title Plans 
            span.plans__title-pink Bestseller
        p.plans__descr
            | Lorem ipsum dolor sit amet, consectetur 
            span.plans__descr-pink adipiscing elit.  
            | Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
        ul.plans__list
            li.plans__item
                h3.plans__item-title Reseller
                .plans__price 199$
                    span.plans__year year
                .plans__row CPU E3-1230 3.3GHz 8MB-V2
                .plans__row HARD 500GB SATA 7200 RPM
                .plans__row RAM 8GB DDR3 1333MHZ ECC
                .plans__row Traffic 10 TB
                .plans__row Connection 100 MB
                .plans__row 5IP
                .plans__row
                    button.plans__btn(type="button") Oreder now
            
            li.plans__item
                h3.plans__item-title Reseller
                .plans__price 199$
                    span.plans__year year
                .plans__row CPU E3-1230 3.3GHz 8MB-V2
                .plans__row HARD 500GB SATA 7200 RPM
                .plans__row RAM 8GB DDR3 1333MHZ ECC
                .plans__row Traffic 10 TB
                .plans__row Connection 100 MB
                .plans__row 5IP
                .plans__row
                    button.plans__btn(type="button") Oreder now
                    
            li.plans__item
                h3.plans__item-title Reseller
                .plans__price 199$
                    span.plans__year year
                .plans__row CPU E3-1230 3.3GHz 8MB-V2
                .plans__row HARD 500GB SATA 7200 RPM
                .plans__row RAM 8GB DDR3 1333MHZ ECC
                .plans__row Traffic 10 TB
                .plans__row Connection 100 MB
                .plans__row 5IP
                .plans__row
                    button.plans__btn(type="button") Oreder now
                    
            li.plans__item.active
                h3.plans__item-title Reseller
                .plans__price 199$
                    span.plans__year year
                .plans__row CPU E3-1230 3.3GHz 8MB-V2
                .plans__row HARD 500GB SATA 7200 RPM
                .plans__row RAM 8GB DDR3 1333MHZ ECC
                .plans__row Traffic 10 TB
                .plans__row Connection 100 MB
                .plans__row 5IP
                .plans__row
                    button.plans__btn(type="button") Oreder now
                    
    .plans__block
        +icon('twitter', 'plans__twitter')
        p.plans__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            
    .plans__line
        +icon('figure', 'plans__line-icon' )