section.portfolio#portfolio
    h2.portfolio__title protfolio
    ul.portfolio__nav-list
        li.portfolio__nav-item
            button(type="button").portfolio__nav-link All
        li.portfolio__nav-item
            button(type="button").portfolio__nav-link.portfolio__nav-link_active Illustration
        li.portfolio__nav-item
            button(type="button").portfolio__nav-link Digital Art
        li.portfolio__nav-item
            button(type="button").portfolio__nav-link Web design
            
    ul.protfolio__illustr-list
        li.protfolio__illustr-item
        li.protfolio__illustr-item
        li.protfolio__illustr-item
        li.protfolio__illustr-item
        li.protfolio__illustr-item
        li.protfolio__illustr-item
        li.protfolio__illustr-item
        li.protfolio__illustr-item
            
    .portfolio__line
            +icon('figure', 'portfolio__line-icon' )
    