section.promo#home 
    .promo__slider
        button.promo__slide-arrow.promo__slide-arrow_left
        
        .promo__slide.active

            h1.promo__title why 
                span.promo__title_pink creativia ?

            p.promo__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae, 
            
        .promo__slide

            h2.promo__title why 
                span.promo__title_pink creativia 2?

            p.promo__content text 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,
            
        .promo__slide

            h2.promo__title why 
                span.promo__title_pink creativia 3?

            p.promo__content text 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,
                        
        button.promo__slide-arrow.promo__slide-arrow_right
        
    .promo__btns
        button.promo__btn.promo__btn_right features
        button.promo__btn.promo__btn_left Free PSD