section.services#services
    .container
        h2.services__title our 
            span.services__title-pink services
            
        p.services__desr
            | Lorem ipsum dolor sit amet, consectetur 
            span.services__descr-pink adipiscing elit.  
            | Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
            
        ul.services__list
            li.services__item.active
                .services__row
                    .services__wrap.services__wrap--dev
                        +icon('figure', 'services__icon')
                    h3.services__item-title development
                p.services__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
            li.services__item
                .services__row
                    .services__wrap.services__wrap--css
                        +icon('figure', 'services__icon')
                
                    h3.services__item-title HTML / CSS
                p.services__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
            li.services__item
                .services__row
                    .services__wrap.services__wrap--wordpress
                        +icon('figure', 'services__icon')
               
                    h3.services__item-title Wordpress
                p.services__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
            li.services__item 
                .services__row
                    .services__wrap.services__wrap--applications
                        +icon('figure', 'services__icon')
                    h3.services__item-title Applications
                p.services__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
            li.services__item
                .services__row
                    .services__wrap.services__wrap--design
                        +icon('figure', 'services__icon')
                    h3.services__item-title ui / ux design
                p.services__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
            li.services__item
                .services__row
                    .services__wrap.services__wrap--responsive
                        +icon('figure', 'services__icon')
                    h3.services__item-title Responsive layout
                p.services__item-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
                
        .services__line
            +icon('figure', 'services__line-icon' )
                
        