section.skills
    .container
        h2.skills__title our 
            span.skills__title-pink Skills
        p.skills__descr 
            | Lorem ipsum dolor sit amet, consectetur 
            span.skills__descr-pink adipiscing elit. 
            |Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
        
        ul.skills__list
            li.skills__item
                .skills__wrap
                    +image('skills/skill-circle.png', 'skill photoshop', 'skills__circle') 
                    
                    .skills__numb 90
                        span.skills__numb-pers %
                h3.skills__name photoshop
                .skills__text Donec luctus tortor in placerat faucibus
                
            li.skills__item
                .skills__wrap
                    +image('skills/skill-circle.png', 'skill HTML', 'skills__circle') 
                    
                    .skills__numb 80
                        span.skills__numb-pers %
                h3.skills__name HTML
                .skills__text Donec luctus tortor in placerat faucibus
                
            li.skills__item
                .skills__wrap
                    +image('skills/skill-circle.png', 'skill php', 'skills__circle') 
                    
                    .skills__numb 70
                        span.skills__numb-pers %
                h3.skills__name php
                .skills__text Donec luctus tortor in placerat faucibus
                
            li.skills__item
                .skills__wrap
                    +image('skills/skill-circle.png', 'skill wordpress', 'skills__circle') 
                    
                    .skills__numb 90
                        span.skills__numb-pers %
                h3.skills__name wordpress
                .skills__text Donec luctus tortor in placerat faucibus
                
//                  +icon('skill-circle', 'skills__circle')
//                    +icon('skill-circle', 'skills__circle-grey')