section.teamwork#team
    .container
        h2.teamwork__title our 
            span.teamwork__title-pink teamwork
        p.teamwork__descr
            | Lorem ipsum dolor sit amet, consectetur 
            span.teamwork__descr-pink adipiscing elit. 
            |  Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
        
        ul.teamwork__list
            li.teamwork__item.active
                .teamwork__block
                    .teamwork__block-wrap
                        +icon('figure', 'teamwork__figure')
                        +icon('fb', 'teamwork__icon' )
                    .teamwork__block-wrap
                        +icon('figure', 'teamwork__figure')
                        +icon('twitter', 'teamwork__icon' )
                    .teamwork__block-wrap
                        +icon('figure', 'teamwork__figure')
                        +icon('google', 'teamwork__icon' )
                
                h3.teamwork__name Bruce Wayne
                h4.teamwork__position Webdesigner
                
            li.teamwork__item
                +image('teamwork/AmrSrour.jpg', 'teamwork AmrSrour ', 'teamwork__img')
                h3.teamwork__name Amr Srour
                h4.teamwork__position Webdesigner
                
            li.teamwork__item
                +image('teamwork/SARAHDOE.jpg', 'teamwork SARAH DOE', 'teamwork__img')
                h3.teamwork__name SARAH DOE
                h4.teamwork__position Webdesigner
                
            li.teamwork__item
                +image('teamwork/johande.jpg', 'teamwork johande', 'teamwork__img')
                h3.teamwork__name johan de
                h4.teamwork__position Webdesigner
                
        .teamwork__line
            +icon('figure', 'teamwork__line-icon' )
        
              
            